/ipynb_checkpoints/
/IP BOARD.txt/
/images/output/
/images/schoolprojectcode.pdf/
/images/ip pdf final1.pdf/
/images/ip1.docx/
/images/ip2.docx/
/images/ip3.docx/
/images/to change size of graph (manage all names).png/